@model HartCheck_Doctor_test.DTO.ChangePasswordDto

@{
    ViewBag.Title = "Change Password";
    Layout = "_Layout";
}

    <div class="main_container b">
        <div class="loginform c">
            <h2>Create a New Password</h2>
            <p>Your new password must be unique from those previously used.
            </p>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.PasswordFor(model => model.NewPassword, new { @class = "inp_log_pass",placeholder="New Password" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            
                <input type="hidden" name="Email" value="@Model.Email" />
                <input type="hidden" name="EmailHash" value="@Model.EmailHash" />
                <input type="hidden" name="Otp" value="@Model.Otp" />
                <input type="hidden" name="OtpHash" value="@Model.OtpHash" />
            
            
                <button type="submit" class="btn_primary">Reset Password</button>
            }
        </div>
    </div>



