@model HartCheck_Doctor_test.DTO.ChangePasswordDto

@{
    ViewBag.Title = "Change Password";
    Layout = "_Layout";
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>

    <input type="hidden" name="Email" value="@Model.Email" />
    <input type="hidden" name="EmailHash" value="@Model.EmailHash" />
    <input type="hidden" name="Otp" value="@Model.Otp" />
    <input type="hidden" name="OtpHash" value="@Model.OtpHash" />


    <button type="submit" class="btn btn-primary">Reset Password</button>
}

