@model HartCheck_Doctor_test.DTO.UserDto

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.email)
        @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password)
        @Html.PasswordFor(model => model.password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.password)
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
}
<div>
    <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a>
     <a href="@Url.Action("Register", "Account")">Register Here!</a>
</div>
