@model HartCheck_Doctor_test.DTO.ConditionDto

@{
    ViewBag.Title = "AddCondition";
    Layout = "_Layout";
}
<head>
    <style>

    body{
    display: contents;
    }
    </style>
</head>
<div class="alt_container">
        <div class="action_form x" style="margin-right: 10%;">
            <h2 style="margin-top: 5%">Patient Info</h2>
            @foreach (var item in ViewBag.PatientsDoctors)
            {
                <div id="condition_">
                    <div class="patient_info">
                        <h3>Patient Name:</h3>
                        <p>@item.FirstName @item.LastName</p>
                    </div>
                    <div class="patient_info">
                        <h3>Previous Condition/s:</h3>
                        <p>@item.CurrentCondition</p>
                    </div>
                    <div class="patient_info">
                        <h3>Consultation Date:</h3>
                        <p>@item.SchedDateTime</p>
                    </div>

                    <div class="patient_info" style="flex-direction: column;">
                        <h3>Diagnosis:</h3>
                        <p style="margin-top: 5%; margin-left: 0;">@item.Diagnosis</p>
                    </div>

                </div>
                break;
            }
        </div>
        <div class="action_form v" style="flex-grow: 1; overflow-y: auto;">
            <h2 style="margin-top: 5%">Add Condition</h2>
                @using (Html.BeginForm("AddCondition", "Patient", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div id="conditionsContainer" style="overflow-y:auto;">
                        <label class="inp_label" for="conditionInput" >Condition:</label>
                        @Html.TextBoxFor(model => model.Condition, new { @class = "inp_log_pass", placeholder = "Medical Condition", id = "conditionInput" })
                    </div>
                    <div class="btn_container">
                         <button type="button" id="addConditionBtn" class="btn_secondary">Add Condition</button>
                         <button type="submit" class="btn_primary">Submit</button>
                    </div>
                   
                }
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var conditionIndex =  1;
        var containerHeight = 400;
        function addConditionInput() {

            if (conditionIndex >=  5) {
                alert("You can only add up to  5 conditions.");
                return;
            }
            
            var newConditionInput = '<div id="condition_' + conditionIndex + '"style="margin-left:5.5%;margin-top:5%;">' +
                    '<label for="Conditions[' + conditionIndex + ']">Condition ' + (conditionIndex +  1) + ':</label>' +
                    '@Html.TextBoxFor(model => model.Condition, new { @class = "inp_log_pass" , placeholder = "Medical Condition",id = "conditionInput"})' +
                    '<input type="hidden" name="patientID" value="@Model.patientID" />'+
                    '</div>';
            $('#conditionsContainer').append(newConditionInput);
            
            conditionIndex++;
            
            if (containerHeight <= 800){
                containerHeight += 100;
            }
            
            $('.action_form.v').css('height', containerHeight + 'px');
        }
        $('#conditionsContainer').on('focus', 'input[type="text"]', function() {
                    $(this).val('');
                });

        $('#addConditionBtn').click(function () {
            addConditionInput();
        });
       
    });
</script>


