@model HartCheck_Doctor_test.DTO.MedicineDto

@{
    ViewBag.Title = "AddCondition";
    Layout = "_Layout";
}
<div class="main_container" style="margin-left: 50%; margin-bottom: 10%">
    <div class="loginform c" style="height:450px;background-color: white; border-radius:  10px; box-shadow:  0  4px  8px  0 rgba(0,  0,  0,  0.2),  0  6px  20px  0 rgba(0,  0,  0,  0.19); ">
        <h2 style="margin-top: 5%">Add Medicine</h2>
        @using (Html.BeginForm("AddMedicine", "Patient", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(model => model.Medicine, new { @class = "inp_log_pass",placeholder="Medicine" })
            @Html.ValidationMessageFor(model => model.Medicine)
            @Html.TextBoxFor(model => model.Dosage, new { @class = "inp_log_pass",placeholder="Dosage in mg/ml"  })
            @Html.ValidationMessageFor(model => model.Dosage)
            <input type="hidden" name="patientID" value="@Model.patientID" />
            <button type="submit" class="btn_primary">Add Medicine</button>
                                                         
        }
    </div>
</div>