@model List<PatientDoctorViewModel>

@{
    ViewBag.Title = "View Patient";
    Layout = "_Layout";
}
    <div class="main_container b" style="margin-left: 20%">
        <div class="loginform e">
            <h1>Patient Info</h1>
                
            @if (Model != null)
            {
                <div class="patinfo">
                    @foreach (var item in Model)
                    {
                        <div class="pat-item">
                            <h3>First Name:</h3>
                            <p>@item.FirstName</p>
                        </div>
                        
                        <div class="pat-item">
                            <h3>Last Name:</h3>
                            <p>@item.LastName</p>
                        </div>        
                        
                        <div class="pat-item">
                            <h3>Phone:</h3>
                            <p>@item.Phone</p>
                        </div>     
                        
                        <div class="pat-item">
                            <h3>Current Condition:</h3>
                            <p>@item.CurrentCondition</p>
                        </div>      
                        
                        <div class="pat-item">
                            <h3>Previous Conditions:</h3>
                            <p>@item.PreviousCondition</p>
                        </div>      
                        
                        <div class="pat-item">
                            <h3>Previous Medications:</h3>
                            <p>@item.PreviousMedications</p>
                        </div>       
                        
                        <div class="pat-item">
                            <h3>Surgical History:</h3>
                            <p>@item.SurgicalHistory</p>
                        </div>
                    }
                </div>
            }
                
            else
            {
                <h2>No Info.</h2>
            }
        </div>
    </div>
