@model IEnumerable<Hart_Check_Official.Models.Users>

@{
    ViewData["Title"] = "ViewPatientLists";
}

<center><b>Patient List</b></center>

<form method="post" action="/ViewPatient/AdvancedSearch">
    <div class="form-group">
        <label for="searchQuery">Search:</label>
        <input type="text" name="searchQuery" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table id="Patients" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#Patients').DataTable();
        });
    </script>
}